.header {
    padding: 22px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: 'Raleway Black', sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 100%;
        color: #EE3F58;

        &--color {
            color: #2A58E9;
        }
    }

    &__text {
        font-family: 'Lato Regular', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: #2A58E9;
    }

    &__text-mobile {
        display: none;
    }

    &__button {
        font-family: 'Raleway Black', sans-serif;
        width: 405px;
        height: 60px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #2A58E9;
        box-shadow: 2px 2px 4px rgba(35, 59, 135, 0.25);
        border-radius: 20px;
        color: #fff;
        font-size: 20px;
        line-height: 23px;
    }

    &__button-mobile {
        display: none;
    }
}